ul.ticker-menu
  list-style: none
  li
    display: inline
    margin-left: 5%

path
  stroke: steelblue
  stroke-width: 2
  fill: none

.axis path,
.axis line
  fill: none
  stroke: grey
  stroke-width: 1
  shape-rendering: crispEdges
